<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Modern Web Designs and Deployment</h1>
      <p class="hero__tagline">
        Make your web presence with modern web designs and with a hassle free
        deployment
      </p>
      <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <img class="hero__image" src="images/banner.svg" alt="Web Design" />
  </div>
</section>
