<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User Friendly Interfaces</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="images/userfriendly.svg" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              soluta aperiam at. Necessitatibus assumenda deleniti magni ut
              excepturi quam mollitia.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Fast Deployment and Review</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              soluta aperiam at. Necessitatibus assumenda deleniti magni ut
              excepturi quam mollitia.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Scalabilty Testing</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              soluta aperiam at. Necessitatibus assumenda deleniti magni ut
              excepturi quam mollitia.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
